#ok{
    color: rgb(179, 48, 255); 
    font-family: monospace;
    text-decoration: none;
}
.kink{
    text-decoration: none;
    color: rgb(179, 48, 255);
    /* margin-left: 1%; */
    border: none;
    width: 100%;
}
.username1{
    font-family: monospace;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: grey;
}
.username1:hover{
    color: rgb(179, 48, 255);
    text-decoration: none;
}
.kink:hover{
    color: rgb(179, 48, 255);
}
.dropdown{
    display: flex;
    flex-direction: column;
    border: #757575;
}
.dropdown:empty{
    border: none;
}
.bi-cart{
    color: white;
    scale: 2;
    margin-top: 0%;
    margin-bottom: 30%;
}
.bi-cart:hover{
    color: rgb(179, 48, 255);
}
.floater{
    margin-top: 20%;
    padding-bottom: 0px;
}
.float{
    margin-top: 2%;
}
.but{
    background-color: azure;
}
.listy{
    padding-right: 1%;
    color: white;
    background-color: rgb(255, 255, 255, 0);
    border: none;
}
.listy:hover{
    background-color: rgb(255, 255, 255, 0);
    color: rgb(179, 48, 255);
}
.nav-alignment{
    text-align: right;
    color: black;
}
.bg-tertiary-navclass{
    background-color: #757575;
}
.jurt{
    width: 50%;
}
.keys{
    margin: 1%;
}