#ok{
    color: rgb(179, 48, 255); 
    font-family: monospace;
    text-decoration: none;
}
.kink{
    text-decoration: none;
    color: white;
}
.floater{
    --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;
}