.about{
    background-image: url(https://media.istockphoto.com/id/160821689/photo/auto-parts.jpg?s=612x612&w=0&k=20&c=HszbmFYLv7hLnJde45x48aatbxUhW3ozyGThIMEALKM=);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-top: 10px;
    padding-bottom: 100px;
    margin-bottom: -5%;
    
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-us-container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 45px;
    padding: 60px;
    background-color: #f8f8f8b0;
    border: 1px solid #e5e5e5ad;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(73, 70, 70, 0.1);
    text-align: justify;
  }
  
  .about-us-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .about-us-container p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    
  }
  p{
    text-decoration-color: black;
}
  