.ModelNo{
   
    padding-bottom: 72px;
    margin-bottom: 9px;
}
.Quantityy{
    padding-bottom:45px;
    margin-bottom: 9px;

}
.Pricee{
    padding-bottom:55px;
    margin-bottom: 9px;

}
.Tootal{
    padding-bottom:55px;
    margin-bottom: 9px;

}