.caption {
  background-color: rgba(0, 0, 0, 0.603);
  border: none;
  width: auto;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px black;
}
.brdr {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5);
}
.polsrow{
  margin-top: 1%;
}
.hamas {
  transform: scale(80%);
  margin-top: 4%;
}
.card-aauu{
  margin: 10%;
  padding: 5%;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5);

}
.tet{
  color: white;
}
.idk{
  margin-left: 3%;
}

.card1{
  border-radius: 20px;
  padding: 0%;
  height: auto;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.93);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5);
}
.card:hover{
  transform: scale(1.01);
}
.dropdown{
  
}
.image{
  border: none;
  height: auto;
}
.pp {
  margin-bottom: 4%;
}
Button:hover{
  transform: scale(1.05);
  opacity: 0.7;
}