.caption {
  background-color: rgba(0, 0, 0, 0.603);
  border: none;
  width: auto;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px black;
}
.brdr {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5);
}
.hamas {
  transform: scale(80%);
}
.card-aauu{
  margin: 10%;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5);

}
.tet{
  color: white;
}
.idk{
  margin-left: 3%;
}

.card{
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.93);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5);
}
.image{
  border: none;
}
.pp {
  margin-top: 20px;
  margin-bottom: 20px;
}
