.caption {
  background-color: rgba(0, 0, 0, 0.603);
  border: none;
  width: auto;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px black;
}
.brdr {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5);
}
.polsrow{
  margin-top: 1%;
}
.rounder{
  border-radius: 100px;
}
.hamas {
  transform: scale(90%);
  margin-top: 5%;
  
}
.card-aauu{
  margin: 10%;
  padding: 5%;
  margin-top: 20%;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.tet{
  color: white;
}
.idk{
  margin-left: 3%;
}

.card1{
  border-radius: 20px;
  padding: 0%;
  height: auto;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.93);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5);
}
.card:hover{
  transform: scale(1.01);
}
.search-body{
  padding: 0%;
}
.clearbutton-home{
  width: 10%;
   border: none;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5); */ 
  background-color: gray;
  color: white;
  padding-right: 0px;
}
.insideCross{
  margin-left: auto;
  margin-right: 100px;
}
.submit-home{
  width: 100%;
   border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5); 
  background-color: rgb(179, 48, 255);
  color: white;
  font-family: monospace;
  font-weight:bolder;
}
.search-inner{
  margin: none;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5); 
}
.dropdown{
  color: black;
  text-decoration: underline;
}
.searchbar-home{
  width: 90%;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 8px 16px rgba(0, 0, 0, 0.5);
}
.image{
  border: none;
  height: auto;
}
.pp {
  margin-bottom: 4%;
}
.Button:hover{
  transform: scale(1.05);
  opacity: 0.7;
  color: black;
}
.crosser:hover{
  transform: scale(1.05);
  opacity: 0.7;
  color: black;
}