.login-form {
    width: 50%;
    margin-top: 4%;
    padding: 10px;
}

.yaya {
    border-radius: 10px;
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.kopiko1{
    width: 100%;
    height: 50px;
    border: 2px solid rgba(152, 7, 255, 0.4);
    border-radius: 5px;
    
}
.kopiko1:focus{
    box-shadow: 0 2px 4px rgb(7, 114, 255,0.4), 0 8px 16px rgb(7, 114, 255,0.4);
    outline-color: black;
}
.kopiko2{
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}
.miracle {
    margin-top: 1%;
    padding-top: 10px;
    margin-bottom: -5em;
}
.yaya1>label{
    position: absolute;
    left: 30%;
    top: 37.5%;
}
.yaya>label:hover{
    top: 20%;
}
.label-used-in-login {
    display: block;
    font-weight: bold;
}

.numeric-jargon {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px #ccc;
}