.row{
    margin-top: 50px;
}

.btnc {
  padding: 5px;
}

.b1 {
  width: 100%;
  margin-bottom: 8px;
}

.b2 {
  width: 100%;
}

.b{
    font-weight: 700;
}
#tax{
  font-weight: 100;
  font-size: 11px;
}
#price{
  font-weight: 700;
  font-size: 23px;
}