.gargantula {
    margin: 2%;
    padding: 5%;
    width: 30%;
    display: block;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 20px;
}
.card-header-prof {
    color: black;
    font-weight: bolder;
}
.yagayaga{
    font-size: 30px;
}
.card-header-prof:hover {
    color: rgb(179, 48, 255);
}

.card-body-prof {
    margin-top: 10px;
    padding: 5%;
}

.wordshofty:hover {
    color: rgb(179, 48, 255);
}

.delete-button {
    margin-right: 10%;
    border: none;
    border-radius: 6px;
    padding: 3%;
    background-color: rgb(179, 48, 255);
    color: white;
}

.delete-button:hover {
    background-color: red;
}
.leadert{
    margin-left: 10px;
}
